  <div class="form-group">
    <h2>Common Library Construct</h2>
    <p>Most libraries that store physical media like books, periodicals, film, and other objects adhere to some derivative of the Dewey Decimal System as their method for tagging, storing, and retrieving materials based on unique identifiers.[3] The use of such systems have caused librarians to develop and leverage common constructs that act as tools for both library professionals and library users alike. These constructs include master catalogs, domain catalogs, indexes, unique identifiers, unique identifier tokens, and artifacts .

A master catalog acts as a catalog of all domain or topic-specific catalogs and often directs the user to a more specific area of a library, where the user can find a more specific domain catalog. For example, upon entering a very large library, one may find a master catalog that will direct a patron to a specific wing of the library that focuses on a specific subject, such as law, history, fiction, etc.

In contrast, domain catalogs are usually made up of a system of very large libraries, where a master catalog cannot hold all of the system's information. As a result, the master catalog leads the user to domain catalogs that contain homogeneous references to specific artifacts that fall within the category or domain assigned to that catalog. For example, a very large library may have many domain catalogs—one for law, one for history, one for fiction, etc. In the case of smaller libraries where the use of domain catalogs are unnecessary, the master catalog can contain all of the information.

Indexes represent a grouping of artifacts by some relevant grouping constraint. The most common index groupings are "by title," "by subject," and "by author."

Often referred to more simply as IDs, unique identifiers represent a means of assigning and tagging an artifact with a readable string of characters that is unique to that single artifact. Such identifiers usually include the address or location of the artifact within the library, and a unique character set that helps to distinguish artifacts that have common traits like common titles. Such unique identifiers are also broken into tokens and are usually placed somewhere on the surface of the artifact being stored, such as on the binding of a book, to facilitate in easily locating that item.

Unique identification strings are broken into predefined and fixed position segments or sub-strings. Each segment is called a token and represents a mapping to something meaningful, hence the name unique identifier tokens. For example, one token may lead a user to a specific wing of a library, another might lead the user to a specific aisle within that wing, another to a specific bookcase within that aisle, etc., all ultimately leading to the artifact itself. Such tokens are often separated by a character that is often referred to as a tokenizer (e.g. "." or ":").

Artifacts represent those original things or authorized copies of things that are being categorized, stored within, and retrieved from libraries. Examples of artifacts include books, periodicals, research documentation, film, and computer disks.</p>

  </div> 