<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/css/login.css" />
        <link rel="stylesheet" type="text/css" href="/styles/css/media-query.css" />
    </head>
    <h1>Library Management</h1>
</html>