  <div class="form-group">
    <div class="container">
  <h2>Library of Books</h2>       
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Book</th>
        <th>Availablity</th>
        <th>Library User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dan</td>
        <td>Brown</td>
        <td>Inferno</td>
        <td><div contenteditable>available</div></td>
        <td><div contenteditable>N/A</div></td>
      </tr>
      <tr>
        <td>J.K</td>
        <td>Rowling</td>
        <td>Harry Potter</td>
        <td><div contenteditable>available</div></td>
        <td><div contenteditable>N/A</div></td>
      </tr>
      <tr>
        <td>Poelo</td>
        <td>Coelho</td>
        <td>Witch Of Porteblo</td>
        <td><div contenteditable>available</div></td>
        <td><div contenteditable>N/A</div></td>
      </tr>
    </tbody>
  </table>
</div>
    <div style="padding-left:650px;">
         <button>save</button>
    </div>
   
  </div> 