<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/css/login.css" />
        <link rel="stylesheet" type="text/css" href="/styles/css/media-query.css" />
    </head>
    <body>
        <section style="padding-top:30px;padding-left:440px;">
            <form style="width:50%" method="post" action="user/submitlogin">
                <h2 class="h2">Login Form</h2>
                <div>
                    <img src="/images/avatar2.jpg" class="imgcontainer" />
                </div>
                <div class="container">
                    <label style="color:white;font-size:20px;">User Name</label>
                    <input type="text" placeholder="Email" id="email" name="email" required/>
                    <label style="color:white;font-size:20px;">Password</label>
                    <input type="password" placeholder="Enter Password" id="pass" name="pass" required/>
                    <button type="submit">Login</button> </br>
                    <a href ="/signup" style="font-weight:bold;font-size:20px;">Did Not Register Yet?</a>
                </div> 
            </form>
        </section>
    </body>
</html>